{% extends 'base.html' %}
{% load i18n %}
{% block body %}



<section id="full-width">
	<div class="text-image">
		<h1>
  <a style="color:white" class="text-header typewrite" data-period="2000" data-type='["{% trans "Arzuladığınız işi seçin və müraciət edin!" %}" ]'>
    <span class="wrap"></span>
  </a>
</h1>

		<h1 class="text-header"></h1>
		<div class="just">
			<a   href="{% url 'allapp:job_list' %}" class="get-button">
			{% trans "Vakansiyalar" %}
		</a>
		<a  style="margin-left: 20px;" href="/elaqe" class="get-button">
			{% trans "Əlaqə" %}
		</a> 
		</div>
		<div class="just-mobile">
			<a href="/vakansiyalar">{% trans "Vakansiyalar" %}</a>
			<a   href="/elaqe" class="">
			{% trans "Əlaqə" %}
		</a> 
		</div>
	</div>
	<div class="full-screen"></div>
</section>
<section id="recent" >
		<div class="title-text">
		<h1>{% trans 'Son vakansiyalar' %}</h1>
	</div>

	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="#"><a href="#">HR Business Partner</a></a>
				</div>
				<ul class="job-info">
<li class="results-job-location">London, England</li>   
<li class="results-salary">£50000 - £65000 {% trans 'illik' %}</li>
<li class="results-posted-at"> {% trans '4 dəqiqə öncə paylaşıldı' %} </li>
</ul>
<div class="job-sub-detail">
	{% trans 'Hal-hazırda, Böyük Britaniyanın ən böyük infrastruktur müəssisələrindən biri ilə regional İK İş Ortağı üçün axtarış aparıram. Bu maraqlı İK dəyişikliyi proqramından keçərkən təşkilatına qoşulmaq üçün inanılmaz bir fürsətdir. Bu roldən London ofisindən kənara çıxacaqsınız, ancaq Böyük Britaniyada müştərilərlə əməkdaşlıq edəcəksiniz ...' %}
</div>
<div class="job-button">
	<ul class="job-button-info">
		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li>

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>

	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="#"><a href="#">HR Business Partner</a></a>
				</div>
				<ul class="job-info">
<li class="results-job-location">London, England</li>   
<li class="results-salary">£50000 - £65000 {% trans 'illik' %}</li>
<li class="results-posted-at"> {% trans '4 dəqiqə öncə paylaşıldı' %} </li>
</ul>
<div class="job-sub-detail">
	{% trans 'Hal-hazırda, Böyük Britaniyanın ən böyük infrastruktur müəssisələrindən biri ilə regional İK İş Ortağı üçün axtarış aparıram. Bu maraqlı İK dəyişikliyi proqramından keçərkən təşkilatına qoşulmaq üçün inanılmaz bir fürsətdir. Bu roldən London ofisindən kənara çıxacaqsınız, ancaq Böyük Britaniyada müştərilərlə əməkdaşlıq edəcəksiniz ...' %}
</div>
<div class="job-button">
	<ul class="job-button-info">
		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li>

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>

	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="#"><a href="#">HR Business Partner</a></a>
				</div>
				<ul class="job-info">
<li class="results-job-location">London, England</li>   
<li class="results-salary">£50000 - £65000 {% trans 'illik' %}</li>
<li class="results-posted-at"> {% trans '4 dəqiqə öncə paylaşıldı' %} </li>
</ul>
<div class="job-sub-detail">
	{% trans 'Hal-hazırda, Böyük Britaniyanın ən böyük infrastruktur müəssisələrindən biri ilə regional İK İş Ortağı üçün axtarış aparıram. Bu maraqlı İK dəyişikliyi proqramından keçərkən təşkilatına qoşulmaq üçün inanılmaz bir fürsətdir. Bu roldən London ofisindən kənara çıxacaqsınız, ancaq Böyük Britaniyada müştərilərlə əməkdaşlıq edəcəksiniz ...' %}
</div>
<div class="job-button">
	<ul class="job-button-info">
		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li>

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>

	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="#"><a href="#">HR Business Partner</a></a>
				</div>
				<ul class="job-info">
<li class="results-job-location">London, England</li>   
<li class="results-salary">£50000 - £65000 {% trans 'illik' %}</li>
<li class="results-posted-at"> {% trans '4 dəqiqə öncə paylaşıldı' %} </li>
</ul>
<div class="job-sub-detail">
	{% trans 'Hal-hazırda, Böyük Britaniyanın ən böyük infrastruktur müəssisələrindən biri ilə regional İK İş Ortağı üçün axtarış aparıram. Bu maraqlı İK dəyişikliyi proqramından keçərkən təşkilatına qoşulmaq üçün inanılmaz bir fürsətdir. Bu roldən London ofisindən kənara çıxacaqsınız, ancaq Böyük Britaniyada müştərilərlə əməkdaşlıq edəcəksiniz ...' %}
</div>
<div class="job-button">
	<ul class="job-button-info">
		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li>

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>

	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="#"><a href="#">HR Business Partner</a></a>
				</div>
				<ul class="job-info">
<li class="results-job-location">London, England</li>   
<li class="results-salary">£50000 - £65000 {% trans 'illik' %}</li>
<li class="results-posted-at"> {% trans '4 dəqiqə öncə paylaşıldı' %} </li>
</ul>
<div class="job-sub-detail">
	{% trans 'Hal-hazırda, Böyük Britaniyanın ən böyük infrastruktur müəssisələrindən biri ilə regional İK İş Ortağı üçün axtarış aparıram. Bu maraqlı İK dəyişikliyi proqramından keçərkən təşkilatına qoşulmaq üçün inanılmaz bir fürsətdir. Bu roldən London ofisindən kənara çıxacaqsınız, ancaq Böyük Britaniyada müştərilərlə əməkdaşlıq edəcəksiniz ...' %}
</div>
<div class="job-button">
	<ul class="job-button-info">
		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li>

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>
	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="#"><a href="#">HR Business Partner</a></a>
				</div>
				<ul class="job-info">
<li class="results-job-location">London, England</li>   
<li class="results-salary">£50000 - £65000 {% trans 'illik' %}</li>
<li class="results-posted-at"> {% trans '4 dəqiqə öncə paylaşıldı' %} </li>
</ul>
<div class="job-sub-detail">
	{% trans 'Hal-hazırda, Böyük Britaniyanın ən böyük infrastruktur müəssisələrindən biri ilə regional İK İş Ortağı üçün axtarış aparıram. Bu maraqlı İK dəyişikliyi proqramından keçərkən təşkilatına qoşulmaq üçün inanılmaz bir fürsətdir. Bu roldən London ofisindən kənara çıxacaqsınız, ancaq Böyük Britaniyada müştərilərlə əməkdaşlıq edəcəksiniz ...' %}
</div>
<div class="job-button">
	<ul class="job-button-info">
		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li>

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>


	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="#"><a href="#">HR Business Partner</a></a>
				</div>
				<ul class="job-info">
<li class="results-job-location">London, England</li>   
<li class="results-salary">£50000 - £65000 {% trans 'illik' %}</li>
<li class="results-posted-at"> {% trans '4 dəqiqə öncə paylaşıldı' %} </li>
</ul>
<div class="job-sub-detail">
	{% trans 'Hal-hazırda, Böyük Britaniyanın ən böyük infrastruktur müəssisələrindən biri ilə regional İK İş Ortağı üçün axtarış aparıram. Bu maraqlı İK dəyişikliyi proqramından keçərkən təşkilatına qoşulmaq üçün inanılmaz bir fürsətdir. Bu roldən London ofisindən kənara çıxacaqsınız, ancaq Böyük Britaniyada müştərilərlə əməkdaşlıq edəcəksiniz ...' %}
</div>
<div class="job-button">
	<ul class="job-button-info">
		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li>

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>

	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="#"><a href="#">HR Business Partner</a></a>
				</div>
				<ul class="job-info">
<li class="results-job-location">London, England</li>   
<li class="results-salary">£50000 - £65000 {% trans 'illik' %}</li>
<li class="results-posted-at"> {% trans '4 dəqiqə öncə paylaşıldı' %} </li>
</ul>
<div class="job-sub-detail">
	{% trans 'Hal-hazırda, Böyük Britaniyanın ən böyük infrastruktur müəssisələrindən biri ilə regional İK İş Ortağı üçün axtarış aparıram. Bu maraqlı İK dəyişikliyi proqramından keçərkən təşkilatına qoşulmaq üçün inanılmaz bir fürsətdir. Bu roldən London ofisindən kənara çıxacaqsınız, ancaq Böyük Britaniyada müştərilərlə əməkdaşlıq edəcəksiniz ...' %}
</div>
<div class="job-button">
	<ul class="job-button-info">
		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li>

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>

	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="#"><a href="#">HR Business Partner</a></a>
				</div>
				<ul class="job-info">
<li class="results-job-location">London, England</li>   
<li class="results-salary">£50000 - £65000 {% trans 'illik' %}</li>
<li class="results-posted-at"> {% trans '4 dəqiqə öncə paylaşıldı' %} </li>
</ul>
<div class="job-sub-detail">
	{% trans 'Hal-hazırda, Böyük Britaniyanın ən böyük infrastruktur müəssisələrindən biri ilə regional İK İş Ortağı üçün axtarış aparıram. Bu maraqlı İK dəyişikliyi proqramından keçərkən təşkilatına qoşulmaq üçün inanılmaz bir fürsətdir. Bu roldən London ofisindən kənara çıxacaqsınız, ancaq Böyük Britaniyada müştərilərlə əməkdaşlıq edəcəksiniz ...' %}
</div>
<div class="job-button">
	<ul class="job-button-info">
		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li>

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>

	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="#"><a href="#">HR Business Partner</a></a>
				</div>
				<ul class="job-info">
<li class="results-job-location">London, England</li>   
<li class="results-salary">£50000 - £65000 {% trans 'illik' %}</li>
<li class="results-posted-at"> {% trans '4 dəqiqə öncə paylaşıldı' %} </li>
</ul>
<div class="job-sub-detail">
	{% trans 'Hal-hazırda, Böyük Britaniyanın ən böyük infrastruktur müəssisələrindən biri ilə regional İK İş Ortağı üçün axtarış aparıram. Bu maraqlı İK dəyişikliyi proqramından keçərkən təşkilatına qoşulmaq üçün inanılmaz bir fürsətdir. Bu roldən London ofisindən kənara çıxacaqsınız, ancaq Böyük Britaniyada müştərilərlə əməkdaşlıq edəcəksiniz ...' %}
</div>
<div class="job-button">
	<ul class="job-button-info">
		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li>

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>
<div class="space-bottom"></div>

</section>





{% endblock %}