{% extends 'base.html' %}
{% load i18n %}
{% block body %}



<section id="full-width">
	<div class="text-image">
		<h1>
  <a style="color:white" class="text-header typewrite" data-period="2000" data-type='["{% trans "Arzuladığınız işi seçin və müraciət edin!" %}" ]'>
    <span class="wrap"></span>
  </a>
</h1>

		<h1 class="text-header"></h1>
		<div class="just">
			<a   href="{% url 'allapp:job_list' %}" class="get-button">
			{% trans "Vakansiyalar" %}
		</a>
		<a  style="margin-left: 20px;" href="{% url 'allapp:contact' %}" class="get-button">
			{% trans "Əlaqə" %}
		</a> 
		</div>
		<div class="just-mobile">
			<a href="{% url 'allapp:job_list' %}">{% trans "Vakansiyalar" %}</a>
			<a   href="{% url 'allapp:contact' %}" class="">
			{% trans "Əlaqə" %}
		</a> 
		</div>
	</div>
	<div class="full-screen"></div>
</section>
<section id="recent" >
		<div class="title-text">
		<h1>{% trans 'Son vakansiyalar' %}</h1>
	</div>


{% for job in last_job %}		

	<div class="row col-md-12 job-detail">
		
			<div class="job-content">
				<div class="job-title">
					<a href="{{ job.get_absolute_url }}">{{ job.title }}</a>
				</div>
				<ul class="job-info">
<li class="results-job-location">{{ job.job_location.all|join:", " }}

</li>   
<li class="results-salary">{{ job.salary }} </li>
<li class="results-posted-at">{{ job.created_at | timesince }} {% trans 'öncə' %}</li>
</ul>
<div class="job-sub-detail">
	{{ job.content|safe|slice:":200" }} ...
</div>
<div class="job-button">
	<ul class="job-button-info">
<!-- 		<li class="save-btn"><a href="#">{% trans "Yadda saxla" %}</a></li> -->

		<li class="apply-btn"><a href="#">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="#">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>


{% endfor %}
<div class="space-bottom"></div>

</section>





{% endblock %}