{% extends 'base.html' %}
{% load i18n %}
{% block body %}
<section id="full-width-page">
	<div class="text-image page">
		<h1>
  
  			{% trans "Haqqımızda" %}
</h1>

		<h1 class="text-header"></h1>
	</div>
	<div class="full-screen"></div>
</section>
<section id="main-content">
	<div class="container">

		{% for about in aboutus %}
		<div class="aboutus-content">
			<h1>{{about.a_title}}</h1>
			<div class="aboutus-text">
				{{about.a_content|safe}}
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="space-bottom"></div>
</section>



{% endblock %}