{% extends 'base.html' %}
{% load i18n %}
{% block body %}
<section id="full-width-page">
	<div class="text-image page">
		<h1>
  
  			{% trans "Haqqımızda" %}
</h1>

		<h1 class="text-header"></h1>
	</div>
	<div class="full-screen"></div>
</section>
<section id="main-content">
	<div class="container">
		<div class="aboutus-content">
			<h1>{% trans "Haqqımızda" %}</h1>
			<div class="aboutus-text">
				Lorem ipsum
			</div>
		</div>
	</div>
	<div class="space-bottom"></div>
</section>



{% endblock %}