{% extends 'base.html' %}
{% load i18n %}
{% block body %}


<section id="full-width-page">
	<div class="text-image page">
		<h1>
  
  			{% trans "Bütün göndərilmiş CV-lər" %}
</h1>

		<h1 class="text-header"></h1>
	</div>
	<div class="full-screen"></div>
</section>
<section id="recent" >
	<div class="container">
	<div class="table-responsive">
  <table class="table">
    <caption>List of Cv</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ad</th>
      <th scope="col">Soyad</th>
      <th>Müraciət etdiyi iş</th>
      <th>Tarix</th>
      <th scope="col">E-mail</th>
      <th scope="col">CV</th>
      <th scope="col">Cover Letter</th>
    </tr>
  </thead>
  <tbody>
    {% for cv in all_apply %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{cv.name}}</td>
      <td>{{ cv.surname }}</td>
      <td><a target=_blank href="/job/{{cv.apply_for}}">{{ cv.apply_name }}</a></td>
      <td>{{ cv.created_date|date:"j F Y" }}</td>
      <td>{{cv.email}}</td>
      <td><a class="btn btn-success" target="blank" href="{{ cv.cv.url }}"><i class="fas fa-file-download"></i></a></td>
      <td><a class="btn btn-success" target="blank" href="{{ cv.cover_letter.url }}"><i class="fas fa-download"></i></a></td>
    </tr>
    {% endfor %}
   





  </table>
  	</div>	
</div>
<div class="space-bottom"></div>
</section>
{% endblock %}