{% extends 'base.html' %}
{% load i18n %}
{% block body %}


<section id="full-width-page">
	<div class="text-image page">
		<h1>
  
  			{% trans "Vakansiyalar" %}
</h1>

		<h1 class="text-header"></h1>
	</div>
	<div class="full-screen"></div>
</section>
<section id="recent" >
		<div class="title-text">
		
	</div>
<div class="container">
<div class="row">
	<div class="col-md-12">
		<h1>Hr depatrment</h1>
	</div>
		<div class="col-md-8">
			<div class="job-main-detail">
				<div class="row each-main-detail">
	<div class="col-md-6"><strong>Location:</strong>Hong Kong, Hong Kong </div>
	<div class="col-md-6"><strong>Sector:</strong>FMCG / Consumer Goods, Retail, Luxury & Lifestyle </div>
				</div>
				<div class="row each-main-detail">
	<div class="col-md-6"><strong>Job type:</strong>Permanent </div>
	<div class="col-md-6"><strong>Salary:</strong>Discretionary Bonus </div>
				</div>

				<div class="row each-main-detail">
	<div class="col-md-6"><strong>Contact:</strong>Yammie Kwok</div>
	<div class="col-md-6"><strong>Contact email:</strong>yammiekwok@frazerjones.com</div>
				</div>

				<div class="row each-main-detail">
	<div class="col-md-6"><strong>Job ref:</strong>120493_1550062071 </div>
	<div class="col-md-6"><strong>Published:</strong>11 minutes ago</div>
				</div>

				<div class="row each-main-detail">
	<div class="col-md-6"><strong>Expiry date:</strong>2019-03-15</div>
				</div>
			</div>
			<div class="job-main-content">
				<p>Our Client

A Senior HR Business Partner position has become available at one of the European-based Luxury Retail Company in Hong Kong. The role will have a predominant focus on Greater China and look after company-wide HR initiatives.

Job Description

    Report into HR Director based in Hong Kong;
    Work closely with internal business stakeholders in the region to maintain or develop key HR strategies and initiatives;
    Challenge, support and drive optimal business performances from a HR perspective;
    Manage HR projects & transformations, talent acquisition, talent development, employee engagement, performance and support on annual reward cycles;
    Demonstrate relatable experience on supporting the delivery of HR projects, creating compelling employee value proposition to help maintain and attract a talented workforce;
    Support talent development partnering closely with the business and Talent Development Specialists to strengthen talent pipeline.

Job Requirements

    Bachelor Degree in Human Resources Management or other related discipline;
    At least 10 years of HR Business Partnering experience in sizable MNC environment;
    Confident and sophisticated to deal with challenges and changes;
    Proven leadership ability and passionate in developing career in a leadership role;
    Resilience to drive change & manage key businesses effectively
    Strong time management ability and forward thinking with strong analytical and presentation ability;
    Complete fluency in English, Cantonese and Mandarin is a must.

Interested applicants please Apply Now or contact Yammie Kwok at +852 3008 9071.

The SR Group (Hong Kong) Limited is acting as an Employment Agency in relation to this vacancy.</p>
			</div>
		</div>
		<div  class="col-md-4 sidebar-content">
			
		<a href="#"><div class="apply-btn-content">{% trans "Müraciət et" %}</div></a>
		</div>
</div>
</div>




</section>
{% endblock %}