{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block body %}
    <!-- Title -->
    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container text-white">
            <h2>{% trans 'Vacancies' %}</h2>
        </div>
    </div>
    <!-- Breadcrumb -->
    <!-- Body -->
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="container border rounded p-4 mb-5">
                    <form method="POST" id="vakansiyaForm">
                                    {% csrf_token %}
                    <h5 class="mb-4">{% trans 'Filter Results' %}</h5>
                    <div class="d-flex">
                        <input class="form-control" type="search" name="title" placeholder="Vakansiya axtar">
                        <button class="btn btn-light d-lg-none px-2 ml-2" type="button" data-toggle="collapse"
                                data-target="#collapseFilter">
                            <span class="icon-menu px-1"></span>
                        </button>
                    </div>
                    <!-- Filter -->
                    <div class="navbar-expand-lg">
                        <div class="navbar-collapse collapse mt-4" id="collapseFilter">
                            <!-- Sector -->
                            <a class="clearfix" data-toggle="collapse" href="#filterSector">
                                <h5 class="float-left">Job Type</h5>
                                <h5 class="float-right dropdown-toggle"></h5>
                            </a>
                            <div class="collapse show filterlist" id="filterSector">
                                {% for jtl in job_type_list %}
                                <div class="custom-control custom-checkbox mt-1">
                                    <input type="checkbox" class="custom-control-input" id="jtl{{forloop.counter}}" name="jtl-{{jtl.id}}" value="{{jtl.job_name}}">
                                    <label class="custom-control-label" for="jtl{{forloop.counter}}">{{jtl.job_name}}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <hr class="mt-2">
                            <!-- Job Type -->
                            <a class="clearfix" data-toggle="collapse" href="#filterJobtype">
                                <h5 class="float-left">Experience</h5>
                                <h5 class="float-right dropdown-toggle"></h5>
                            </a>
                            <div class="collapse show" id="filterJobtype">
                                {% for ell in experience_level_list %}
                                <div class="custom-control custom-checkbox mt-1">
                                    <input type="checkbox" class="custom-control-input" id="ell{{forloop.counter}}" name="ell-{{ell.id}}" value="{{ell.experience_name}}">
                                    <label class="custom-control-label" for="ell{{forloop.counter}}">{{ell.experience_name}}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <hr class="mt-2">
                            <!-- Experience -->
                            <a class="clearfix" data-toggle="collapse" href="#filterLevel">
                                <h5 class="float-left">Industry</h5>
                                <h5 class="float-right dropdown-toggle"></h5>
                            </a>
                            <div class="collapse show" id="filterLevel">
                                {% for il in industry_list %}
                                <div class="custom-control custom-checkbox mt-1">
                                    <input type="checkbox" class="custom-control-input" id="il{{forloop.counter}}" name="il-{{il.id}}" value="{{il.industry_name}}">
                                    <label class="custom-control-label" for="il{{forloop.counter}}">{{il.industry_name}}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <hr class="mt-2">
                            <!-- Reset -->
                            <input id='formFilter' type="submit" value="{% trans 'Reset Filters' %}" class="btn btn-dark btn-sm">
                    </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- List -->
            <div id='jobLst' class="col-lg-8">
                {#          <h5 class="mb-4"><span class="text-secondary">24</span> {% trans 'Vacancies Found' %}</h5>#}
                <!-- Job box -->
            <div class="job">
                {% for obj in jobs %}
                    <div class="container border rounded p-4 mb-4">
                        <div class="d-flex justify-content-md-between flex-column-reverse flex-md-row mb-2">
                            <h4 class="">{{ obj.title }}</h4>
                            <small class="text-dark">son tarix : {{ obj.expiry_date | date:"j F Y" }}</small>
                        </div>
                        <div class="d-flex flex-wrap mb-2">
                            <div class="mr-4"><span class="icon-map text-dark mr-2"></span>
                                {% for objct in obj.job_location.all %} {{ objct.city_name }}, {% endfor %}</div>
                            <div class="mr-4"><span class="icon-salary text-dark mr-2"></span>{{ obj.salary }}</div>
                            <div class="mr-4"><span class="icon-sector text-dark mr-2"></span>{{ obj.job_sector }}</div>
                            <div class="mr-4"><span class="icon-contract text-dark mr-2"></span>{{obj.job_contract_type}}</div>
                        </div>
                        <p class="text-dark">{{ obj.content | safe|slice:":150" }}</p>
                        <a href="{{ obj.get_absolute_url }}" class="btn btn-info btn-sm mr-2" role="button">{% trans 'Read More' %}</a>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                                data-target="#jobApply">{% trans 'Apply Now' %}</button>
                    </div>
                {% endfor %}
            </div>

{#                <nav>#}
{#                    <ul class="pagination justify-content-end">#}
{#                        <li class="page-item disabled"><a class="page-link" href="#">{% trans 'Previous' %}</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">{% trans 'Next' %}</a></li>#}
{#                    </ul>#}
{#                </nav>#}
            </div>
        </div>
    </div>
    <!-- Apply Form -->
    <div class="modal fade" id="jobApply" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">HR Manager</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>{% trans 'Full Name' %}</label>
                            <input type="text" class="form-control" id="applicantName">
                        </div>
                        <div class="form-group">
                            <label>{% trans 'E-mail Address' %}</label>
                            <input type="email" class="form-control" id="applicantMail">
                        </div>
                        <div class="form-group">
                            <label>CV</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="applicantCV">
                                <label class="custom-file-label">{% trans 'Choose file' %}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{% trans 'Cover Letter' %} <span
                                    class="text-dark">({% trans 'Optional' %})</span></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="applicantLetter">
                                <label class="custom-file-label">{% trans 'Choose file' %}</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="button" class="btn btn-secondary">{% trans 'Apply Now' %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
<script>
     $(document).ready(function(){
    var myForm = $('#vakansiyaForm');
    myForm.submit(function (event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            method : "POST",
            url : '{% url "allapp:reset-filters" %}',
            data: formData,
            dataType: 'json',
            success: function (data) {
                $('.job').remove();
                $('#jobLst').html(data.include_)
            }
        });
    })
});
</script>
{% endblock %}