{% extends 'base.html' %}
{% load i18n %}
{% block body %}


<section id="full-width-page">
	<div class="text-image page">
		<h1>
  
  			{% trans "Vakansiyalar" %}
</h1>

		<h1 class="text-header"></h1>
	</div>
	<div class="full-screen"></div>
</section>
<section id="recent" >
		<div class="title-text">
		
	</div>
<div class="container">
<div class="row">


{% for job in job_list %}
		<div class="col-md-6">
		
			<div class="job-content">
				<div class="job-title">
					<a href="{{ job.get_absolute_url}}">{{ job.title }}</a>
				</div>
				<ul class="job-info">
<li class="results-job-location">{{ job.job_location.all|join:", " }}</li>   
{% if job.salary %}
<li class="results-salary">{{ job.salary }}</li>
{% endif %}
<li class="results-posted-at">{{ job.created_at | timesince }} {% trans 'öncə' %} </li>
</ul>
<div class="job-sub-detail">
{{ job.content|safe|slice:":200" }} ...

</div>
<div class="job-button">
	<ul class="job-button-info">
		
		<li class="apply-btn"><a href="{{ job.get_absolute_url }}apply">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="{{job.get_absolute_url}}">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>

{% endfor %}

</div>
</div>



<div class="space-bottom"></div>
</section>
{% endblock %}