{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block body %}


<section id="full-width-page">
	<div class="text-image page">
		<h1>
  
  			{% trans "Vakansiyalar" %}
</h1>

		<h1 class="text-header"></h1>
	</div>
	<div style="background-image: url(/static/image/vac.png);" class="full-screen "></div>
</section>
<section id="recent" >
		<div class="title-text">
	




	</div>

<div class="row col-md-12">
	<div style="margin-bottom: 20px;" class="row col-md-12">
		<div class="col-md-6">
			
		</div>
		<div  class="col-md-6">
			  <form style="margin-left: 15%;" method="GET" role="search" action="" class="form-inline my-2 my-lg-0">
      <input style="margin-right: 15px;text-align: center;" value="{{ request.GET.q }}" name="q" class="form-control my-neput" type="search" placeholder="{% trans 'vakansiya axtar' %}" aria-label="Search">
      <select style="margin-right: 20px;" class="form-control" name="location">
      	<option value="">----</option>
  {% for location in location_list %}
    <option value="{{location.id}}">{{location.city_name}}</option>
  {% endfor %}  
</select>
      <button style="border:none;color: white" class="apply-btn search" type="submit">Search</button>
    </form>
		</div>
	</div>
<div  class="col-md-4">
	<div  class="col-md-12 extras">
	<button class="collapsible"><div class="col-title"><i class="fa fa-fw fa-caret-right"></i>{% trans "Sektor" %}</div></button>
<div class="content">
	{% for sector in sector_list %}
<a class="sub-link" href="/sektor/{{sector.slug}}">
	 <div class="sub-content">
		{{ sector.sector_name }}
 	</div>
 </a>
 {% endfor %}
 
</div>


<button class="collapsible"><div class="col-title"><i class="fa fa-fw fa-caret-right"></i>{% trans "İş növü" %}</div></button>
<div class="content">
	{% for jobtype in job_type_list %}
<a class="sub-link" href="/is-novu/{{ jobtype.slug }}">
	 <div class="sub-content">
		{{jobtype.job_name}}
 	</div>
 </a>
 {% endfor %}
 
</div>

<button class="collapsible"><div class="col-title"><i class="fa fa-fw fa-caret-right"></i>{% trans "Kontrakt növü" %}</div></button>
<div class="content">
	{% for contract in contract_type_list %}
<a class="sub-link" href="/kontrakt/{{ contract.slug }}">
	 <div class="sub-content">
		{{contract.contract_name}}
 	</div>
 </a>
 {% endfor %}
</div>

<button class="collapsible"><div class="col-title"><i class="fa fa-fw fa-caret-right"></i>{% trans "Növbə" %}</div></button>
<div class="content">
	{% for hours in hours_list  %}
<a class="sub-link" href="/novbe/{{ hours.slug }}">
	 <div class="sub-content">
		{{hours.hours_name}}
 	</div>
 </a>
 {% endfor %}
</div>

<button id="btn" class="collapsible"><div class="col-title">
<i class="fa fa-fw fa-caret-right"></i>{% trans "İş təcrübəsi" %}</div></button>
<div class="content">
	{% for expert in experience_level_list %}
<a class="sub-link" href="/tecrube/{{ expert.slug }}">
	 <div class="sub-content">
		{{expert.experience_name}}
 	</div>
 </a>
 
 {% endfor %}
</div>

<button class="collapsible"><div class="col-title"><i class="fa fa-fw fa-caret-right"></i>{% trans "Yer" %}</div></button>
<div class="content">
{% for loc in location_list %}
<a class="sub-link" href="/yer/{{loc.slug }}">
	 <div class="sub-content">
		{{ loc.city_name }}
 	</div>
 </a>
{% endfor %}
 
</div>




<script type="text/javascript">
	$('button').click(function(){
$(this).toggleClass('down');
});
</script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}


</script>





	</div>
</div>
<div class="col-md-8">
{% for job in jobs %}
		<div class="col-md-12 extras">
		
			<div class="job-content">
				<div class="job-title">
					<a href="{{ job.get_absolute_url}}">{{ job.title }}</a>
				</div>
				<ul class="job-info">
<li class="results-job-location">{{ job.job_location.all|join:", " }}</li>   
{% if job.salary %}
<li class="results-salary">{{ job.salary }}</li>
{% endif %}
<li class="results-posted-at">{{ job.created_at | timesince }} {% trans 'öncə' %} </li>
</ul>
<div class="job-sub-detail">
{{ job.content|safe|slice:":200" }} ...

</div>
<div class="job-button">
	<ul class="job-button-info">
		
		<li class="apply-btn"><a href="{{ job.get_absolute_url }}apply">{% trans "Müraciət et" %}</a></li>
		<li class="save-btn"><a href="{{job.get_absolute_url}}">{% trans "Ətraflı" %}</a></li>
	</ul>
</div>
	
		</div>
		
	</div>

{% endfor %}
</div>
</div>




<div class="space-bottom"></div>
</section>
{% endblock %}