{% extends 'base.html' %}
{% load i18n %}
{% block body %}

    <!-- Body -->
    <div class="container pt-6">
        <h2 class="text-primary mb-5">{% trans 'Contact Us' %}</h2>
        <div class="row">
            <!-- Contact Info -->
            <div class="col-md-5 mb-5">
                <p class="mb-5">{% trans 'You may contact us at the following numbers or e-mail address so that we can assist you.' %}</p>
                <hr class="my-4">
                <small class="text-dark">{% trans 'PHONE NUMBER' %}</small>
                <p>+994 55 444 33 22</p>
                <hr class="my-4">
                <small class="text-dark">{% trans 'EMAIL ADDRESS' %}</small>
                <p>info@yourdomain.com</p>
                <hr class="my-4">
            </div>
            <!-- Contact Form -->
            <div class="col-md-6 offset-md-1">
                <form>
                    <div class="form-group">
                        <label>{% trans 'Full name' %}</label>
                        <input type="text" class="form-control" id="contactName">
                    </div>
                    <div class="form-group">
                        <label>{% trans 'E-mail address' %}</label>
                        <input type="email" class="form-control" id="contactMail">
                    </div>
                    <div class="form-group">
                        <label>{% trans 'Subject' %}</label>
                        <input type="text" class="form-control" id="contactSubject">
                    </div>
                    <div class="form-group">
                        <label>{% trans 'Your Message' %}</label>
                        <textarea class="form-control" id="contactMessage" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-block">{% trans 'Send Message' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}