{% load static %}
{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <!-- Icon font CSS -->
    <link rel="stylesheet" href="{% static 'style/iconfont.css' %}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Executive Recruitment Republic Group</title>
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container py-2">
        <a class="navbar-brand" href="#">
            <img src="/static/img/logo.png" height="38px" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuMobile">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-end" id="menuMobile">
            <ul class="navbar-nav mt-4 mt-lg-0">
                <li class="nav-item ml-lg-4">
                    <a class="nav-link active" href="{% url 'allapp:index' %}">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item ml-lg-4">
                    <a class="nav-link" href="{% url 'allapp:job_list' %}">{% trans 'Vacancies' %}</a>
                </li>
                <li class="nav-item ml-lg-4">
                    <a class="nav-link" href="{% url 'allapp:aboutus' %}">{% trans 'About Us' %}</a>
                </li>
                <li class="nav-item ml-lg-4">
                    <a class="nav-link" href="{% url 'allapp:contact' %}">{% trans 'Contact Us' %}</a>
                </li>
                <!-- Language -->
                <li class="nav-item ml-lg-4 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="language" data-toggle="dropdown">
                        <span class="icon-lang mr-2"></span>
                        {% if LANGUAGE_CODE == "az" %}
                            Az
                        {% elif LANGUAGE_CODE == "en" %}
                            En
                        {% endif %}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" id="language">
                        {% for lang in LANGUAGES %}
                            <a class="dropdown-item" href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">
                                {% if  lang.0 == "az" %}
                                    Azərbaycan
                                {% elif  lang.0 == "en" %}
                                    English
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}

{% endblock %}
<!-- Footer -->
<div class="footer bg-primary text-light mt-6 py-5">
    <div class="container">
        <div class="d-flex justify-content-lg-between flex-lg-row flex-column">
            <a class="mb-3" href="#">
                <img src="/static/img/logo.png" height="38px" alt="">
            </a>
            <div class="d-flex flex-md-row flex-column my-4 my-lg-0">
                <a class="text-white mr-4 mb-3" href="{% url 'allapp:index' %}">{% trans 'Home' %}</a>
                <a class="text-white mr-4 mb-3" href="{% url 'allapp:job_list' %}">{% trans 'Vacancies' %}</a>
                <a class="text-white mr-4 mb-3" href="{% url 'allapp:aboutus' %}">{% trans 'About Us' %}</a>
                <a class="text-white mr-4 mb-3" href="{% url 'allapp:contact' %}">{% trans 'Contact Us' %}</a>
                <!-- Language -->
                <a class="dropdown dropdown-toggle text-white" href="#" id="language" data-toggle="dropdown">
                    <span class="icon-lang mr-2"></span>
                    {% if LANGUAGE_CODE == "az" %}
                        Az
                    {% elif LANGUAGE_CODE == "en" %}
                        En
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="language">
                    {% for lang in LANGUAGES %}
                        <a class="dropdown-item" href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">
                            {% if  lang.0 == "az" %}
                                Azərbaycan
                            {% elif  lang.0 == "en" %}
                                English
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr class="my-3">
        <p class="small mt-4 mb-0">© 2020 {% trans 'Executive Recruitment Republic Group. All Rights Reserved' %}.</p>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>