{% load static %}
{% load i18n %}
{% get_available_languages as LANGUAGES %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?{% now "U" %}">
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <title>{% trans "İş vakansiyaları" %}</title>

      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
  </head>
  <body>
<div class="all-body">

  	{% csrf_token %}
  	<div class="rown col-md-12 top-nav">
  		<div class="container">
  			
  			<div class="head-top">
  	{% if request.user.is_authenticated %}
  <a style="margin-right: 10px;" href="/cv-list">Cv list</a>|
  	<a style="margin-right: 10px;" href="/hrsystem">Admin panel</a>
  	{% endif %}
    {% for lang in LANGUAGES %}
    <a href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">
    {% if lang.0 == "az" %}
    <img src="/static/image/aze.png">
    {% elif lang.0 == "en" %}
    | <img src="/static/image/en.png">
    {% endif %}
  </a>
    {% endfor %}

  	
  			</div></div>
  		</div>
  
<nav id="nav-id" class="navbar fixed-top custom-nav navbar-expand-lg navbar-light bg-light">
	<div class="container">
  <a class="navbar-brand" href="{% url 'allapp:index' %}">Company Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'allapp:index' %}">{% trans "Ana səhifə" %}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'allapp:job_list' %}">{% trans "Vakansiyalar" %}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'allapp:aboutus' %}">{% trans "Haqqımızda" %}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'allapp:contact' %}">{% trans "Əlaqə" %}</a>
      </li>
      </ul>

  </div>
</div>
</nav>


{% block body %}
{% endblock %}

<section id="footer-bottom">
	<div align="center" class="col-md-12">
		<div class="container">
			<div class="footer">
				 <ul class="job-info ul-footer">
				 	<li class="col-md-3" >
				 		<a href="{% url 'allapp:index' %}">Company Logo</a>
				 	</li>
				 	<li class="col-md-3 footer-location">
				 	<a href="{% url 'allapp:index' %}">{% trans "Ana səhifə" %}</a> <br>
				 	<a href="{% url 'allapp:job_list' %}">{% trans "Vakansiyalar" %}</a> <br>
				 	<a href="{% url 'allapp:aboutus' %}">{% trans "Haqqımızda" %}</a> <br>
				 	<a href="{% url 'allapp:contact' %}">{% trans "Əlaqə" %}</a>
				 	</li>
				 	<li class="col-md-3 footer-location">
				 		<a href="mailto:info@example.com">info@example.com</a>
				 	</li>
				 	<li class="col-md-3 footer-tel">
				 		<a href="tel:+994774813913">+994774813913</a>
				 	</li>
				 </ul>
			</div>
		</div>

</section>
</div>
  
  </body>
</html>