body,html{
	height: 100%;
	margin:0;
	padding:0;
	font-family: sans-serif !important;
}
*{
	text-decoration: none !important;
	outline: none !important;
}
.form-i{
	color:green;
}
p a{
	color:rgba(225,127,1,0.8) !important;
}
.form-control-form-input{
	padding: 0;
}
.custom-nav{
	background: #fff6  !important;
	padding: 1rem 1rem !important;
	transition: background 1.5s;
  	-webkit-transition: background 1.5s;
}
#nav-id{
	top:40px;
}
.custom-nav-scroll{
	background: white !important;
	top:0px !important;
	box-shadow: 2px 2px #a790904d;
}
.custom-nav-scroll a{
	color: black ;
}
#full-width-page{
	height: 40vh;
}
.space-bottom{
	height: 200px !important;
}
.text-image.page{
	margin-top: 130px;
}
.all-body {
    min-height: 100%;
    position: relative;
    height: auto;
}
.custom-nav a{
	color: white ;
}
.job-title {
    font-weight: bold;
    font-size: 20px;
    color: rgba(19,87,52,0.8);
}
/*#main-content{
	min-height: 100vw;
}*/

div#footer {
  position: absolute;
  width: 100%;
  bottom: 0; /* stick to bottom */
  background: #ddd;
}

.job-info.ul-footer {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
	}
.job-info.ul-footer li a{
	color:white;
}
.job-info.ul-footer li{
	color: white;
}
#content-contact{

	margin-top: 20px;
}
.card-contact{
	text-align: center;
}
.main-card{
	border:1px solid;
	border-color:#8677774d;
	padding: 30px;
	margin-bottom: 5px;
}
.main-card i {
	font-size: 50px;
	color:rgb(19, 87, 52);
}
.card-content{
	color:rgba(225,127,1,0.8);
	font-weight: bold;
	margin-top: 5px;
}
.footer-location {
    border-right: 1px solid;
    text-align: center;
}
.footer-tel{
	text-align: center;
}

.each-main-detail {
	margin-bottom: 2px;
    background: #e0e0e066;
    padding: 5px;

}
.job-main-content{
	margin-top: 15px;
}

.btn.success {
    background: rgb(19, 86, 51);
    color: white;
}


.sidebar-content a{
	color:white;
	text-align: center;
}
.apply-btn-content {
    padding: 10px;
    background: rgba(225,127,1,0.8);
    border-color: rgba(225,127,1,0.8);
}
.apply-btn-content:hover{
	background:rgba(225, 127, 1, 0.59);
}
.latest-content{
	color:white;
	text-align: center;
	margin-top: 10px;
    padding: 10px;
    background: rgb(19, 86, 51);
    border-color: rgb(19, 86, 51);
}

.sidebar-latest-job {
    background: #f3f3f3;
    margin-top: 5px;
    padding: 5px;
}
.all-latest a{
	color:black !important;
	text-align: left;
}

#footer-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(19, 87, 52);
}
.job-title a{

    color: rgba(19,87,52,0.8);
}
.job-info {

    display: inline-flex;
    list-style: none;
    font-weight: bold;
    margin-left: -50px;
}
.job-button-info {

    display: inline-flex;
    list-style: none;
    font-weight: bold;
    margin:0;
}

.job-button-info li{
	margin:5px;
}

.job-detail{
	margin:auto;
}
.save-btn a {

    color: white;

}

.save-btn {
	padding:5px;
    background: rgba(225,127,1,0.8);
    border-color: rgba(225,127,1,0.8);

}
.apply-btn{

	padding:5px 20px;
    background: rgba(19,87,52,0.8);
    border-color: rgba(19,87,52,0.8);
}
.apply-form{
	padding: 30px;
	margin-top:30px;
	background-color: #e0e0e066;
}
.apply-btn a{
	color:white;
}

.job-content {
    padding: 10px;
    border: 1px solid;
    border-color: #8677774d;
    margin: 5px;
    width: 100%;
}
.custom-item a {
	color: white !important;
}
.top-nav {
    background: #8b8b8c;
    color: white;
    padding: 8px;
    position: relative;
    text-align: right;
}
.just{
	margin:25px;
}
.head-top{
width: 100%;
position: relative;
}
.head-top a{
	color:white;
}
.job-info{
    display: inline-flex;
    list-style: none;
    font-weight: bold;
}
.job-info li{
	margin:0 0 0 10px;
	font-size: 14px;
}
.results-job-location {
	border:0;
    border-right: 1px solid;
    padding: 0 10px 0 0;
}
.results-salary{
	border:0;
    border-right: 1px solid;
    padding: 0 10px 0 0;
}
#full-width{
	height: 100vh;
}

.title-text{
	text-align: center;
	padding: 25px 15px;
}
.text-image {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 200px;
    color: white;
}
.text-header{

	margin-bottom: 70px !important;
}
.just-mobile{
	display: none;
}
.just a{
	color: white;

	padding: 20px 80px;

	border: 2px solid;

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;

	border-bottom-right-radius: 5px;

	border-bottom-left-radius: 5px;
	text-decoration: none;
	font-style: bold;
}
.just a{
	text-decoration: none !important;
	font-weight: bold;
	font-size: 20px;
}
.just a:hover{
	background: white;
	color:green;
	border-color: white;
}
.full-screen{
background-image: url("/static/image/jobsearch.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

@media (max-width: 992px){	
	.footer ul{
		margin-bottom: 0 !important;
	}
	.job-info{
		display: block;
	}
	.job-info li{
		border:none !important;
	}

}

@media (max-width: 768px){
	.top-nav{
		text-align: center !important;
	}
	.full-screen{
		height: 100%;
	}
	.aditional{
		margin-top: 30px;
	}
	.just a{
		display: none;
	}
	.just-mobile{
	display: block;
	font-size: 20px;
	font-weight: bold;
	}
	.just-mobile a{
		display: block;
		color: white;
		padding: 10px;
		border: 2px solid;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		width: 50%;
		margin: auto;
		margin-bottom: 10px;
		text-align: center;
		}
	.job-button-info li {

    	font-size: 11px;

		}
	.apply-btn {

    padding: 5px;
    background: rgba(19,87,52,0.8);
    border-color: rgba(19,87,52,0.8);

	}
	.job-info{
		display: block;
	}
	.job-info li{
		border:none !important;
	}
}